@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playpen+Sans:wght@400;700&display=swap');

:root {
	--blueish-color: #66BBFF;
}

body {
	font-family: 'Playpen Sans', cursive;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color:var(--blueish-color);	
}

.botao1 {
	text-decoration: none;
	color: white;
	background-color:var(--blueish-color);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-size: 1.2em;
	font-weight: 700;
	border: 0;
	cursor: pointer;
}



.caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid var(--blueish-color);
	border-radius: 5px;
}

.caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid var(--blueish-color);
	border-radius: 5px;
}

#tabela {
	margin-top: 30px ;
	border-collapse: collapse;
	
}

#tabela thead {
	border: 1px solid #DDD;
	text-align: left;
	padding: 10px;
	background-color: var(--blueish-color);
	color: #FFF;
}

#tabela td {
	border: 1px solid #DDD;
	padding: 10px;
}

#caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #FF0000;
	border-radius: 5px;
}











